*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row; 
}
header{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding:20px 40px;
    border-bottom: 5px solid black;
    position: sticky;
    justify-content: space-between;
    top: 0;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    
}
header nav ul li{
    padding:0 20px;   
}
aside{
    padding: 40px;
    width:20%;
    border-right: 2px solid black;
}
aside ul{

}
