*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:0;
}
body{
    display: flex;
    flex-flow: row wrap; 
}
header{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding:20px 40px;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background: white;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}
header nav ul li{
    padding:0 20px;   
}
aside{
    padding: 40px;
    width:20%;
    border-right: 2px solid black;
}
main
{
    width:80%;
    display: flex;
    flex-flow: row wrap;

}
.sectionUp{
    display: flex;
    text-align: justify;
    /* flex-flow: row wrap;
    align-items: center; */
}
.sectionUp p{
    margin: 20px 40px ;
}
.sectionUp img{
    margin: 20px 40px;
}
.sectionDown{
    display: flex;
    text-align: justify;
    /* flex-flow: row wrap;
    align-items: center; */
}
.sectionDown p{
    margin: 20px 40px ;
}
.sectionDown img{
    margin: 20px 40px;
}