@import "baserules";
h2{
    margin:20px 0;
}
h3{
    font-weight: 900;
    font-size: 10vmin;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h4{
    font-weight: 900;
    font-size: 10vmax;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.box{
width: 100vmin;
height: 40vmin;
background-color: red;
}
.box-max{
width: 100vmax;
height: 40vmax;
background-color:blue;
}
.box-vh{
    width: 10vh;
    height: 10vh;
    background: green;
}
.box-vw{
    width: 10vw;
    height: 10vh;
    background: pink;
}
html{
    font-size: 20px;
}
p{
    font-size: 25px;
    
}
.rem{
    font-size:1rem;
    color:red;
}
