.phone{
    
    img{
        width:320px;
        
    }
}
.grid-topics{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    img{
        margin-top:24px;
        padding-left:108px;
        align-items: center;
        justify-content: center;
    }
    p{
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'IBM Plex Sans', sans-serif;
        
    }
}