.phone{
    
    img{
        width:320px;
        
    }
}
.topics{
    h2{
        font-weight: 900;
        width: 288px;
        padding: 48px 16px 0px 16px;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        font-family: $font;
    }
}
.grid-topics{
    display: grid;
    grid-column: 1fr;
    justify-content: center;
    row-gap: 36px;
    padding-top: 37px;
    padding-bottom: 42px;
    .img-topic{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:24px;
        p{
            text-align: center;
            font-family: 'IBM Plex Sans-SemiBold', sans-serif;
            font-size: 24px;
            color: #060A24;
            width: 288px;
            font-weight: 700;
        }
        
    }
  
    
}