footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:24px;
   .text-footer{
    font-family: 'IBM Plex Mono',sans-serif;
    font-size: 14px;
    color: #040405;
    font-weight: 300;
   }
    // justify-content: center;
    width: 100%;
    .social{   
        margin-top: 16px;  
        ul{
        display: flex;     
        width: 202px;   
        justify-content: space-between;
        }
        li{
            list-style: none;
            a{
                text-decoration:none;
                i{
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 28px;
                     color: #060A24;
                    &:hover {
                        color: $button-color
                    }
                }
               
        }
    }
    h2{
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
        padding: 24px 47px;
    }
    }
}   
@media screen and (min-width:768px){
    footer{
        transform: translateY(-90px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        // margin-left: 100px;
        height: 95px;
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        .text-footer{
            padding-left: 100px;
        }
    .social{
        direction: flex;
        justify-content: flex-end;
        margin-right: 100px;
    }
}
}