.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 100%;
    .social{
        display: flex;
        justify-content: space-between;
        ul{
            justify-content: space-between;
        }
        li{
            list-style: none;
        }
    }
    h2{
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
        padding: 24px 47px;
    }
}