.guests{
    // margin-top: 54px;
.titulo-invitados{
    // margin-top: 54px;
    padding: 0px 16px;
    width: 288px;
    font-size:36px;
    color: #060A24;
    font-family: $font;
}
.grid-invitados{
    margin-top: 14px;
    display: grid;
    grid-template-columns: 1fr;
    img{
        width: 100%;
        min-height: 243px;
    }
    p{
        text-align: center;
        align-items: center;
    }
}
}