
a{
    color: #000;
}
.sub-header{
    height: 44px;
    width:100%;
}
.header{
    // background-color: $bg;
    
    position: fixed;
    z-index: 1;
    width: 100%;
    background: white;
    &::after{
        width: 100%;
        height: 100%;
    }
    
    ul{

        list-style: none;
        margin-top:16px;
        overflow: hidden;//if something goes out it just does not show it
        
        a {
            display: block ;
            padding: 0px 0px 16px 24px;
            text-decoration: none;  
            
            
        }
    }
    .menu{
        clear:both;
        max-height: 0;
        background: white;
        transition: max-height .2s ease-out;
        font-family: 'IBM Plex Mono',sans-serif;
    }
    //Hamburger menu transformations
    .menu-icon{
        padding: 20px 20px;
        position:relative;  
        float: right;
        display: inline-block;
        cursor:pointer;
        .nav-icon{
            background: #000;
            display: block;
            height: 2px;
            width:18px;
            position:relative; //posicion relativa para el span
            transition: background .2s  ease-out;
            &:before{
                background: #333;
                content:"";
                display:block;
                position:absolute;
                height: 100%;
                width:100%;
                top:5px;
                transition:all .2s  ease-out;
            }
            &:after{
                background: #333;
                content:"";
                display:block;
                position:absolute;
                height: 100%;
                width:100%;
                top:-5px;
                transition:all .2s  ease-out;
            }   
        }
    }
    .logo{
        float:left;
        display: block;
        padding: 10px 30px; 
        font-size: 2em;
     }
     .menu-input{
         display:none;
        &:checked ~ .menu{
            max-height: 224px;
           .first-element{
               padding-top: 16PX;
           }
            a{
                background-color:#0000EC;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 28px;
                font-weight: -100;
            }
        }
        &:checked ~.menu-icon .nav-icon{
            background: transparent;
        }
        &:checked ~.menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top: 0;
        }
        &:checked ~.menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;

        }
     }
  
}
@media screen and (min-width:768px){
    .main{
        height: 360px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                    padding: 0 48px;
        h1{
            margin-top: 120px;
            font-size: 6em;

        }
    }
    .header{
        li{
            float: left;
        }
        a{
            padding: 26px 48px;
            background: white;
            &:hover{
                color:$button-color;
                text-decoration:line-through;
                transition: all .5s;
            }
            &:active{
                text-decoration:line-through;
                transition: all .5s;
                color: #060A24;
            }
        }
        .final-element{
            padding-right: 100px;
        }
        .menu{
            clear: none;
            float: right;
            max-height: none;
            // background: white;
        }
        .menu-icon{
            display: none;
        }
    }
}
   






