$text-smallScreen:'Un podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.';
$text-bigScreen:'El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.';
.info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    h1{
        // align-self: center;
        white-space: nowrap;
        font-weight: 400;
        margin-top: 29px;
        font-size: 36px;
        color:$font-color;
        width: 214px;
        padding-right: 40px;
        padding-left: 16px;
        font-family: $font;
    }
    p{
        // width: 90%;
        // align-self: center;
        font-family: 'IBM Plex Mono',sans-serif;
        margin-top: 16px;
        padding-right: 45px;
        padding-left:20px;
        font-size:14px;
        color:$font-color;
        width: 288px;
        line-height: 22px;
        height: 66px;
        &:after{
            content: $text-smallScreen;
        }
    }
    .button{
        margin-top: 36px;
        padding-left: 16px;
    }
}
.info-container{
    margin-top: 27px;
    padding:0px 16px;
    .title-info{
        font-size: 36px;
    }
    p{
        padding-top: 8px;
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
        letter-spacing: 0;
        font-family: 'IBM Plex Mono',sans-serif;
    }

}
//desktop version
@media screen and (min-width:768px) {
    .info{
        .button{
            align-self: flex-start;
            margin-left: $margin-big;
        }
        p{
            font-size: 16px;
            width: 628px;
            padding-left: $margin-big;
            &:after{
                content: $text-bigScreen;
            }
        }
        h1{
            width:722px;
            padding-left:$margin-big;
            white-space: nowrap;
            br{
                display:none;
            }
        }
    }
    span{
        color:#0000EC
    }
    .info-container{
        width: 100%;
        .title-info{
            font-size: 46px;
            color: #060A24;
        }
            p{
            padding-top: 24px;
            font-size: 16px;
            margin-right: 66px;
            width:464px;
            
            font-family: 'IBM Plex Mono',sans-serif;
            color: #060A24;
        
            }
    }
}
