.info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    h1{
        margin-top: 29px;
        padding-left:16px;
        font-size: 36px;
        color:$font-color;
    }
    p{
        // width: 90%;
        margin-top: 16px;
        padding-right: 45px;
        padding-left:20px;
        font-size:14px;
        color:$font-color;
    }
    .button{
        margin-top: 36px;
        padding-left: 16px;
    }
}
.info-container{
    margin-top: 27px;
    padding:0px 16px;
    
}
