@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height:100%;
    width: 100%; 
 }
.button{
    font-family: 'IBM Plex Mono-Medium', monospace;
    display: flex;
    align-self: center;
    background-color: $button-color;
    color: white;
    width:288px;
    height:48px;
    // vertical-align: center;
    align-items: center;
    justify-content:center;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        background-image: linear-gradient(left, rgba(0,240,184,1),rgba(0,0,254,1));
        color: white;
        cursor: pointer;
    }
}
//esta clase la usamos con el objetivo de poner el celular encima de nuestro background 
.translate{
    transform: translateY(-90px);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:$font
}

@media  screen and (min-width:1200px) {
    .translate{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding-left: 200px;
        transform: translateY(-150px);
        
        }

    }
@media  screen and (min-width:768px) {
    .translate{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // justify-items: center;
        // padding-left: 200px;
        align-items: center;
        transform: translateY(-150px);
        
        }

    }
    
