@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
$bg:#fff;
$primary-gradient:#1fb3ed;
$secondary-gradient:#7adbec;
$font-color:#060A24; 
$button-color: #00F3BB;
$gradient:linear-gradient(rgba(0,0,255,1),rgba(0,0,163,1));
$font: 'IBM Plex Sans', sans-serif;
$margin-big:200px;