body{
    background: $bg;
}
a{
    color: #000;
}

.header{
    // background-color: $bg;
    position: fixed;
    z-index: 3;
    width: 100%;
    background: white;
    ul{
        list-style: none;
        margin: 0;
        padding:0;
        overflow: hidden;//if something goes out it just does not show it
        a {
           display: block ;
            padding: 20px 20px;
            text-decoration: none;  
            &:hover{
                background-color: red;
            }
        }
    }
    .menu{
        clear:both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    //Hamburger menu transformations
    .menu-icon{
        padding: 28px 20px;
        position:relative;  
        float: right;
        display: inline-block;
        cursor:pointer;
        .nav-icon{
            background: #000;
            display: block;
            height: 2px;
            width:18px;
            position:relative; //posicion relativa para el span
            transition: background .2s  ease-out;
            &:before{
                background: #333;
                content:"";
                display:block;
                position:absolute;
                height: 100%;
                width:100%;
                top:5px;
                transition:all .2s  ease-out;
            }
            &:after{
                background: #333;
                content:"";
                display:block;
                position:absolute;
                height: 100%;
                width:100%;
                top:-5px;
                transition:all .2s  ease-out;
            }   
        }
    }
    .logo{
        float:left;
        display: block;
        padding: 10px 30px; 
        font-size: 2em;
     }
     .menu-input{
         display:none;
        &:checked ~ .menu{
            max-height: 240px;
            
        }
        &:checked ~.menu-icon .nav-icon{
            background: transparent;
        }
        &:checked ~.menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top: 0;
        }
        &:checked ~.menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;

        }
     }
  
}
.main{
     padding: 24px 20px;
    .info{
    // padding: 60px 10px;
    margin: 39px 0 24px;
    display: flex;
    width: 90%;
    height: 280px;
    min-width: 280px;
    flex-direction: column;
    text-align: center;
    min-width: 280px;
    align-self: center;
    #title{
        text-align: left;
        margin-top: 30px;
        font-size:2.5em;
        color: $font-color;
        line-height: 4rem;
        align-self: center;
    }
    .descripcion{
        font-size: 0.5em;
        margin-top: 15px;
        text-align: left;
        line-height:2em;
        color:$font-color;
        font-size: 1.5em;
    }
    .conoceMas{
        background-color: black;
        color: white;
        padding: 20px 80px;
        display: block;
        align-self: center;
        padding: 13px 80px;
        margin-top: 35px;
        width:100%;
        max-width:288px;
    }
}
}
.episodios-fondo{
    position: relative;
    &::after{
        display:block;
        background: blue;
        position: absolute;
        content:"";
        top:0;
        left:0;
        width:100%;
        height: 100%;
        transform: skewY(-5deg);
    };
}
.episodios-titulo{
    width: 90%;
    padding:60px 30px;
    color: white;
    font-size: 3.5rem;
    text-align:left;
    z-index: 2;
    // align-self: center;
    font-weight:400;
    line-height: 4rem;
}
.grid-podcast{
    position: relative;
    // z-index: 2;
    display: grid;
    width:100%;
    // min-width: 288px;
    grid-template-columns: 1fr;
    justify-items:center;
    padding:0px 11px; 
    .episodes--podcast-link {
        iframe { 
            width: 100%;
            height: 232px;
            margin-bottom: 16px;
            line-height: 0;
            border: 0;
            background-color: transparent;
            z-index:2;
        }
    }
}   
.episodes-principal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 1235px;
    padding: 20px 16px;
    // .episodes--subtitle,
    // .episodes--container {
    //     position: relative;
    //     z-index: 2;
    // }
}
@media (min-width:48em){
    .main{
        height: 360px;
        padding: 0 50px;\
        h1{
            margin-top: 120px;
            font-size: 6em;

        }
    }
    .header{
        li{
            float: left;
        }
        a{
            padding: 20px 30px;
        }
        .menu{
            clear: none;
            float: right;
            max-height: none;
        }
        .menu-icon{
            display: none;
        }
    }
    .episodes-principal{
        height: 950px;
        .episodios-contenedor{
            display: flex;
            flex-direction: unset;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .episodios-titulo{

        }
    }
    }





