body{
    background: $bg;
}
a{
    color: #000;
}
.header{
    // background-color: $bg;
    position: fixed;
    z-index: 3;
    width: 100%;
    ul{
        list-style: none;
        margin: 0;
        padding:0;
        overflow: hidden;//if something goes out it just does not show it
        a {
           display: block ;
            padding: 20px 20px;
            text-decoration: none;  
            &:hover{
                background-color: red;
            }
        }
    }
    .menu{
        clear:both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    //Hamburger menu transformations
    .menu-icon{
        padding: 28px 20px;
        position:relative;  
        float: right;
        display: inline-block;
        cursor:pointer;
        .nav-icon{
            background: #000;
            display: block;
            height: 2px;
            width:18px;
            position:relative; //posicion relativa para el span
            transition:background .2s  ease-out;
            &:before{
                background: #333;
                content:"";
                display:block;
                position:absolute;
                height: 100%;
                width:100%;
                top:5px;
                transition:all .2s  ease-out;
            }
            &:after{
                background: #333;
                content:"";
                display:block;
                position:absolute;
                height: 100%;
                width:100%;
                top:-5px;
                transition:all .2s  ease-out;
            }   
        }
    }
    .logo{
        float:left;
        display: block;
        padding: 10px 20px; 
        font-size: 2em;
     }
     .menu-input{
         display:none;
        &:checked ~ .menu{
            max-height: 240px;
        }
        &:checked ~.menu-icon .nav-icon{
            
        }
        &:checked ~.menu-icon .nav-icon:before{
            transform: rotate(-45deg);
        }
        &:checked ~.menu-icon .nav-icon{

        }
     }


}




