@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.button {
  font-family: 'IBM Plex Mono-Medium', monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #00F3BB;
  color: white;
  width: 288px;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00f0b8), to(#0000fe));
  background-image: linear-gradient(left, #00f0b8, #0000fe);
  color: white;
  cursor: pointer;
}

.translate {
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (min-width: 1200px) {
  .translate {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    padding-left: 200px;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
}

@media screen and (min-width: 768px) {
  .translate {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
}

a {
  color: #000;
}

.sub-header {
  height: 44px;
  width: 100%;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: white;
}

.header::after {
  width: 100%;
  height: 100%;
}

.header ul {
  list-style: none;
  margin-top: 16px;
  overflow: hidden;
}

.header ul a {
  display: block;
  padding: 0px 0px 16px 24px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  background: white;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
  font-family: 'IBM Plex Mono',sans-serif;
}

.header .menu-icon {
  padding: 20px 20px;
  position: relative;
  float: right;
  display: inline-block;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: #000;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  -webkit-transition: background .2s  ease-out;
  transition: background .2s  ease-out;
}

.header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5px;
  -webkit-transition: all .2s  ease-out;
  transition: all .2s  ease-out;
}

.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -5px;
  -webkit-transition: all .2s  ease-out;
  transition: all .2s  ease-out;
}

.header .logo {
  float: left;
  display: block;
  padding: 10px 30px;
  font-size: 2em;
}

.header .menu-input {
  display: none;
}

.header .menu-input:checked ~ .menu {
  max-height: 224px;
}

.header .menu-input:checked ~ .menu .first-element {
  padding-top: 16PX;
}

.header .menu-input:checked ~ .menu a {
  background-color: #0000EC;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: -100;
}

.header .menu-input:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-input:checked ~ .menu-icon .nav-icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.header .menu-input:checked ~ .menu-icon .nav-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

@media screen and (min-width: 768px) {
  .main {
    height: 360px;
    padding: 0 48px;
  }
  .main h1 {
    margin-top: 120px;
    font-size: 6em;
  }
  .header {
    position: fixed;
    width: 100%;
  }
  .header li {
    float: left;
  }
  .header a {
    padding: 26px 48px;
    background: white;
  }
  .header a:hover {
    color: #00F3BB;
    text-decoration: line-through;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header a:active {
    text-decoration: line-through;
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #060A24;
  }
  .header .final-element {
    padding-right: 100px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.episodios-fondo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#0000a3));
  background-image: linear-gradient(blue, #0000a3);
  -webkit-clip-path: polygon(0% calc(0% + 7vw), 100% 0%, 100% calc(100% - 7vw), 0% 100%);
          clip-path: polygon(0% calc(0% + 7vw), 100% 0%, 100% calc(100% - 7vw), 0% 100%);
  height: 1200px;
  width: 100%;
  margin-top: 24px;
  font-family: "IBM Plex Sans", sans-serif;
}

.episodios-fondo .episodios-titulo {
  font-family: "IBM Plex Sans", sans-serif;
  padding-top: 64px;
  padding-left: 16px;
  color: white;
  font-weight: 600;
  font-size: 36px;
  padding: 64px 0px 21px 16px;
  line-height: 42px;
}

.episodios-fondo .grid-podcast {
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 11px;
  padding: 0px 11px;
}

.episodios-fondo .grid-podcast .podcast {
  border: none;
  width: 100%;
  height: 232px;
}

@media screen and (min-width: 768px) {
  .episodios-fondo {
    height: 1042px;
  }
  .episodios-fondo .episodios-titulo {
    margin-left: 200px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    padding-top: 186px;
  }
  .episodios-fondo .grid-podcast {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 72px 72px;
    row-gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  width: 100%;
}

footer .text-footer {
  font-family: 'IBM Plex Mono',sans-serif;
  font-size: 14px;
  color: #040405;
  font-weight: 300;
}

footer .social {
  margin-top: 16px;
}

footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 202px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social li {
  list-style: none;
}

footer .social li a {
  text-decoration: none;
}

footer .social li a i {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  color: #060A24;
}

footer .social li a i:hover {
  color: #00F3BB;
}

footer .social h2 {
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  padding: 24px 47px;
}

@media screen and (min-width: 768px) {
  footer {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0px;
    height: 95px;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  footer .text-footer {
    padding-left: 100px;
  }
  footer .social {
    direction: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 100px;
  }
}

.phone img {
  width: 320px;
}

.topics h2 {
  font-weight: 900;
  width: 288px;
  padding: 48px 16px 0px 16px;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-family: "IBM Plex Sans", sans-serif;
}

.grid-topics {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 36px;
  padding-top: 37px;
  padding-bottom: 42px;
}

.grid-topics .img-topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.grid-topics .img-topic p {
  text-align: center;
  font-family: 'IBM Plex Sans-SemiBold', sans-serif;
  font-size: 24px;
  color: #060A24;
  width: 288px;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .phone {
    width: 458px;
  }
  .topics {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-item-align: center;
        align-self: center;
    color: #060A24;
    width: 100%;
  }
  .topics h2 {
    font-size: 48px;
    white-space: nowrap;
    padding-left: 200px;
    padding-top: 64px;
    font-weight: 400;
  }
  .grid-topics {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 66px 200px;
    -ms-grid-row-align: center;
        align-self: center;
    gap: 78px 0px;
  }
  .grid-topics .img-topic p {
    width: 220px;
    margin-top: 29px;
  }
}

@media screen and (min-width: 768px) {
  .phone {
    width: 458px;
  }
  .topics {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-item-align: center;
        align-self: center;
    width: 400px;
    color: #060A24;
    width: 100%;
  }
  .topics h2 {
    font-size: 48px;
    white-space: nowrap;
    padding-top: 64px;
    font-weight: 400;
  }
  .grid-topics {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 150px 150px 150px;
        grid-template-columns: 150px 150px 150px 150px;
    width: 100px;
    -ms-grid-row-align: center;
        align-self: center;
    gap: 20px 20px;
  }
  .grid-topics .img-topic {
    padding: 20px 20px;
  }
  .grid-topics .img-topic P {
    width: 150px;
  }
}

.guests {
  margin-top: 54px;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

.guests .titulo-invitados {
  padding: 0px 16px;
  width: 288px;
  font-size: 36px;
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
}

.guests .grid-invitados {
  margin-top: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.guests .grid-invitados img {
  width: 100%;
  min-height: 243px;
}

.guests .grid-invitados p {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .guests .titulo-invitados {
    padding-bottom: 36px;
    padding-left: 200px;
    width: 481px;
    white-space: nowrap;
    font-size: 48px;
  }
  .guests .grid-invitados {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
    gap: 0px 0px;
  }
  .guests .grid-invitados img {
    height: 100%;
    width: 100%;
    margin: -5px -5px;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
}

.info h1 {
  white-space: nowrap;
  font-weight: 400;
  margin-top: 29px;
  font-size: 36px;
  color: #060A24;
  width: 214px;
  padding-right: 40px;
  padding-left: 16px;
  font-family: "IBM Plex Sans", sans-serif;
}

.info p {
  font-family: 'IBM Plex Mono',sans-serif;
  margin-top: 16px;
  padding-right: 45px;
  padding-left: 20px;
  font-size: 14px;
  color: #060A24;
  width: 288px;
  line-height: 22px;
  height: 66px;
}

.info p:after {
  content: "Un podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.";
}

.info .button {
  margin-top: 36px;
  padding-left: 16px;
}

.info-container {
  margin-top: 27px;
  padding: 0px 16px;
}

.info-container .title-info {
  font-size: 36px;
}

.info-container p {
  padding-top: 8px;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0;
  font-family: 'IBM Plex Mono',sans-serif;
}

@media screen and (min-width: 1200px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .info .button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 200px;
  }
  .info p {
    font-size: 16px;
    text-align: justify;
    padding-left: 200px;
  }
  .info p:after {
    content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.";
  }
  .info h1 {
    width: 722px;
    padding-left: 200px;
    white-space: nowrap;
  }
  .info h1 br {
    display: none;
  }
  span {
    color: #0000EC;
  }
  .info-container {
    width: 100%;
  }
  .info-container .title-info {
    font-size: 46px;
    color: #060A24;
  }
  .info-container p {
    padding-top: 24px;
    font-size: 16px;
    margin-right: 66px;
    font-family: 'IBM Plex Mono',sans-serif;
    color: #060A24;
  }
}

@media screen and (min-width: 768px) {
  .info .button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 200px;
  }
  .info p {
    font-size: 16px;
    width: 80%;
    padding-left: 200px;
  }
  .info p:after {
    content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.";
  }
  .info h1 {
    width: 722px;
    padding-left: 200px;
    white-space: nowrap;
  }
  .info h1 br {
    display: none;
  }
  span {
    color: #0000EC;
  }
  .info-container {
    width: 100%;
  }
  .info-container .title-info {
    font-size: 46px;
    color: #060A24;
  }
  .info-container p {
    padding-top: 24px;
    font-size: 16px;
    font-family: 'IBM Plex Mono',sans-serif;
    color: #060A24;
  }
}

.novedades-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#0000a3));
  background-image: linear-gradient(blue, #0000a3);
  height: 341px;
  width: 100%;
  -webkit-clip-path: polygon(0% calc(0% + 7vw), 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% calc(0% + 7vw), 100% 0%, 100% 100%, 0% 100%);
}

.novedades-bg .title-conocer {
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  padding: 64px 16px 36px 16px;
  width: 288px;
  font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (min-width: 768px) {
  .novedades-bg {
    height: 518px;
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .novedades-bg .title-conocer {
    font-size: 48px;
    white-space: nowrap;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    width: 692px;
    padding-top: 213px;
    font-weight: 400;
  }
}
/*# sourceMappingURL=style.css.map */