* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #00F3BB;
  color: white;
  width: 288px;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.translate {
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #000;
}

.sub-header {
  height: 44px;
  width: 100%;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: white;
}

.header::after {
  width: 100%;
  height: 100%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header ul a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#0000a3));
  background-image: linear-gradient(blue, #0000a3);
  color: white;
}

.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  padding: 20px 20px;
  position: relative;
  float: right;
  display: inline-block;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: #000;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  -webkit-transition: background .2s  ease-out;
  transition: background .2s  ease-out;
}

.header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5px;
  -webkit-transition: all .2s  ease-out;
  transition: all .2s  ease-out;
}

.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -5px;
  -webkit-transition: all .2s  ease-out;
  transition: all .2s  ease-out;
}

.header .logo {
  float: left;
  display: block;
  padding: 10px 30px;
  font-size: 2em;
}

.header .menu-input {
  display: none;
}

.header .menu-input:checked ~ .menu {
  max-height: 240px;
  background-color: blue, #0000a3;
}

.header .menu-input:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-input:checked ~ .menu-icon .nav-icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.header .menu-input:checked ~ .menu-icon .nav-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

@media (min-width: 48em) {
  .main {
    height: 360px;
    padding: 0 50px;
  }
  .main h1 {
    margin-top: 120px;
    font-size: 6em;
  }
  .header li {
    float: left;
  }
  .header a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.episodios-fondo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#0000a3));
  background-image: linear-gradient(blue, #0000a3);
  -webkit-clip-path: polygon(0% calc(0% + 7vw), 100% 0%, 100% calc(100% - 7vw), 0% 100%);
          clip-path: polygon(0% calc(0% + 7vw), 100% 0%, 100% calc(100% - 7vw), 0% 100%);
  height: 1200px;
  margin-top: 24px;
}

.episodios-fondo .episodios-titulo {
  padding-top: 64px;
  padding-left: 16px;
  color: white;
  font-weight: 600;
  font-size: 36px;
}

.episodios-fondo .grid-podcast {
  margin-top: 21px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 11px;
  padding: 0px 11px;
}

.phone img {
  width: 320px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info h1 {
  margin-top: 29px;
  padding-left: 16px;
  font-size: 36px;
  color: #060A24;
}

.info p {
  margin-top: 16px;
  padding-right: 45px;
  padding-left: 20px;
  font-size: 14px;
  color: #060A24;
}

.info .button {
  margin-top: 36px;
  padding-left: 16px;
}

.info-container {
  margin-top: 27px;
  padding: 0px 16px;
}
/*# sourceMappingURL=style.css.map */