*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin: 50px;
}
 h2{
     border-top:2px solid navy;
}
.box{
    height: 50px;
    width: 50px;
    background-color: olive;
    text-align: center;
    line-height: 50px;
    margin: 5px;
}
