
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/* Variabkes  */
:root{
    --primary-color:#f60f20;
    --secondary-color:#1b206e
}
/* SOME BASE STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
