*{

    margin:10px 10px 10px 10px ;
    box-sizing: border-box;
}
nav{
    margin-bottom: 10px;
    border-bottom: 2px solid purple;
}

   .logo{
width: 150px;
height:150px;
background-color:white;
    }
    h1{
        text-align: center;
        font-family:monospace;
        color: white;
        font-size: 6rem;
        border:3px solid purple;
    }
h2{
        
        color:white;
        font-size: 4rem;
        font-family: monospace;

    }
div.formulario{
    color:white;
    font-size: 4rem;
    font-family: monospace;
    text-align: center;
    border:3px solid purple;

}
input,select{
    font-size: 3rem;
    text-align: center;
    }
textarea{
    font-size: 3rem;
    
    text-align: center;
}
/* p{
    font-size: 4rem;
    font-family: monospace;
    text-align: center;
    color:white;
} */
.titulo{
    color: purple ;
    text-align: center;
}
body{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
