header{
    width:100%;
    height: 400px;
    margin-bottom: 0;
    background:url(./images/Cover4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
.header-img{
    width: 100%;
    height: auto;

}
//   nav{
//       margin-top: 0;
//         width: 100%;
//         height: 100%;
//         background-color: $secondary-color;
//         li{
//             text-align: center;
//             margin-left: 100px;
//             color: white;
//             display: inline;
//             padding-left:10px;
//             list-style: none;
//             line-height: 60px;
//             &:hover{
//                 color: $primary-color;
//                 cursor:pointer;
//                 transition:color 1s ease; 
//             }
//         }
//     }
