@import"variables";
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.title{
  color:$primary-color;
  font-size:40px;
}
// body {
//   background: #ccc;
//   margin: 30px 50px;
//   line-height: 1.4;
// }
.wrappper{
  display: grid;
  grid-gap:20px;
}
.main-nav {
  ul{
    display: grid;
    grid-gap:20px;
    padding:0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background:$secondary-color;
  }
  li{
    background:$secondary-color;//puedo ponerle color a las cajas;
    display:block;
    padding:0.8rem;
    color:white;
    text-transform: uppercase;
    font-size:30px;
    text-align: center;
  &:hover{
      color: $primary-color;
       cursor:pointer;
     transition:color 1s ease; 
                }
              } 
}
.main-container{
  color:white;
  display: grid;
  grid-gap:20px;
  background:$primary-color;
  grid-template-areas:
  'left-container right-container'
}
//left and right
.left-section{
  margin: 30px 50px;
  background:$secondary-color;
  grid-area:left-container;
  min-height: 400px;
  display: block;
  .title{
    text-align: center;
    margin:10px 50px;
  }
  h2{
    margin:30px 50px;
    text-align: justify;
    font-size: 20px;
  }
  img{
    width: 80%;
    margin:30px 50px;
  }
}
.right-section{
  background:$secondary-color;
  margin: 30px 50px;
  grid-area:right-container;
  min-height: 800px;
  display: block;
  text-align: center;
  font-size: 20px;
    input{
        width: 80%;
        margin: 50px 40px;
        font-size: 20px;
        height: 60px;
        
      }
      .title{
        text-align: center;
        margin:10px 50px;
      }
      .btn{
    margin:20px auto;
    font-size: 25px;
    width: 100px;
    height: 50px;
    color:white;
    padding:10px;
    background:linear-gradient(100deg,#FDC830, #F37335);
    border-radius: 5px;
    border:2px solid black; 
    &:hover{
        cursor: pointer;
        border: 2px solid $primary-color;
        color:white;
        background:linear-gradient(100deg,$primary-color, $secondary-color);
    }
}
      }

