*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.wrappper{
  display: grid;
  grid-gap:20px;
}
.main-nav {
  ul{
    display: grid;
    grid-gap:20px;
    padding:0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background:$secondary-color;
    
  }
  
}