@media(max-width:700px){
    .main-container{
        grid-template-areas:
        'left-container'
        'right-container'
    }
    .main-nav ul{
        // display:none;
        grid-template-columns: 1fr;
        background:$primary-color;
    }
    .oradores{
        // display: grid;
        grid-template-columns:1;
        grid-template-rows: 1;  
    }
    
}

