*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.grow-container{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}
.grow-item{
    background-color: tomato;
    border: 3px solid rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.grow-item:nth-of-type(1){
    flex-grow: 1;
}
.grow-item:nth-of-type(2){
    flex-grow: 1;
}

.grow-item:nth-of-type(3){
    flex-grow: 4;
}

.grow-item:nth-of-type(4){
    flex-grow: 1;

}
.shrink-container{
    display: flex;
}
.flex-item{
    background-color: tomato;
    border: 3px solid rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    flex-basis: 20em;
    display: flex;
}
.flex1{
    flex-shrink: 1;
}
.flex2{
    flex-shrink: 2;
}
.order-container{
    display: flex;
}
.order-item{
    background-color: tomato;
    border: 3px solid rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    flex-basis: 200px;
    display: flex;
}
/* order va de -1 a 1 si es menus uno queda de primero en el flex */
.order-item:nth-of-type(2){
    order: -1
}
